/*
 * jQuery Nivo Slider v3.2
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* The Nivo Slider styles */


@import url("http://www.snc.ae/..font/stylesheet.css");



/*@font-face {
    font-family: 'continuum_mediumregular';
    src: url('contm-webfont.eot');
    src: url('contm-webfont.eot?#iefix') format('embedded-opentype'),
         url('contm-webfont.woff') format('woff'),
         url('contm-webfont.ttf') format('truetype'),
         url('contm-webfont.svg#continuum_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}*/
.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
	height:331px;
	font-family: 'continuum_mediumregular'!important;
	
}
.nivoSlider img {
	position:absolute;
	top:0px;
	max-width: none;
	
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
	background:white; 
	filter:alpha(opacity=0); 
	opacity:0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
	font-family: 'continuum_mediumregular';
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {
	font-family: 'continuum_mediumregular'!important;
	position:absolute;
	left:0px;
	top:230px;
	bottom:0px;
	background:#CAB683;
	color:#fff;
	width:100%;
	z-index:8;
	padding: 11px 9px;
	display: block;
	-moz-opacity: 0.8;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	height:45px;
	width:auto;
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	text-align:center;
	display:none;
	padding: 15px 0;
}
.nivo-controlNav a {
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}
